<!DOCTYPE html>
<html>
<head>
  <title>3rd Gen Repairs</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">3rd Gen Repairs</a>
      <a class="navbar-right" href="/signup">Sign Up</a>
    </div>
  </div><!-- /.container-fluid -->
</nav>
</head>
<body>

<%= yield %>

</body>
</html>
